@import-normalize;

/* donno why it doesn't reset body margin... */

body {
    font-size: 16px;
    margin: 0;
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}